@font-face {
    font-family: Open_Sans_Condensed;
    src: url(./font/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}



@font-face {
    font-family: Armata;
    src: url('./font/Armata/Armata-Regular.ttf');
}



:root {
    --footer-color:#edeff3;
    --white-color:#fff;
    
}


.btn { 
    background-color: #404951;
    padding: 10px 16px;
    display: flex;
    align-items: center;
}

