@font-face {
    font-family: Open_Sans_Condensed;
    src: url(./font/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}



@font-face {
    font-family: Armata;
    src: url('./font/Armata/Armata-Regular.ttf');
}